# dependencies
client/node_modules
client/.pnp
.pnp.js

# testing
client/coverage

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

venv

test_db

# Ignore python cache files
__pycache__/